<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Panth_AdvancedContactUs::contact"
             title="Contact Us"
             module="Panth_AdvancedContactUs"
             parent="Panth_Core::panth_extensions"
             sortOrder="60"
             resource="Panth_AdvancedContactUs::contact"/>
        <add id="Panth_AdvancedContactUs::submissions"
             title="Submissions"
             module="Panth_AdvancedContactUs"
             parent="Panth_AdvancedContactUs::contact"
             action="panthcontact/submission/index"
             resource="Panth_AdvancedContactUs::submission_view"
             sortOrder="10"/>
        <add id="Panth_AdvancedContactUs::config"
             title="Configuration"
             module="Panth_AdvancedContactUs"
             parent="Panth_AdvancedContactUs::contact"
             action="adminhtml/system_config/edit/section/panth_advancedcontact"
             resource="Panth_AdvancedContactUs::config"
             sortOrder="20"/>
    </menu>
</config>
